.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 20px;
  z-index: 1;

  display: flex;
  justify-content: space-between;

  /* Animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav_black {
  background-color: #111;
  opacity: 0.8;
  height: 60px;
}
.nav_logo {
  position: fixed;
  right: 0;
  top: 0;
  width: 80px;
  object-fit: contain;
}
.right {
  right: 0;
  margin-right: 20px;
  background: transparent;
}
.left {
  left: 0;
  top: 0;
  margin-left: 20px;
}
.nav_avatar {
  width: 30px;
  object-fit: contain;
}
